* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: white;
}

/* TEXT */
.intro-text {
  position: absolute;
  width: 100%;
  top: 40%;
  text-align: center;
  transition: opacity 1s;
  z-index: 5;
}

.fade-out {
  opacity: 0;
}

/* VIDEO LANDSCAPE */
.video-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vh;
  height: 100vw;
  transform: translate(-50%, -50%) rotate(-90deg);
  transform-origin: center;
  opacity: 0;
  transition: opacity 1s;
}

.video-wrapper.fade-in {
  opacity: 1;
}

.hidden {
  display: none;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* BUTTON */
#soundBtn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  padding: 12px 16px;
  font-size: 16px;
}
