body {
  margin: 0;
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  transition: opacity 0.8s ease;
}

/* TEXT */
.intro-text {
  text-align: center;
  margin-bottom: 20px;
  transition: opacity 1s ease;
}

.intro-text.fade-out {
  opacity: 0;
}

/* VIDEO CONTAINER */
.video-bg {
  display: flex;
  gap: 12px;
  width: 95%;
  max-width: 1200px;
  opacity: 0;
  transition: opacity 1s ease;
  flex-direction: column;
}

.video-bg.fade-in {
  opacity: 1;
}

.hidden {
  display: none;
}

/* VIDEO BOX */
.video-box {
  flex: 1;
}

.video-box video {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

/* PAGE FADE */
.fade-out {
  opacity: 0;
}
/* NÚT BẬT TIẾNG */
#soundBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 12px 22px;
  font-size: 16px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  border-radius: 30px;
  z-index: 10;
}

/* để nút nổi đúng trên video giữa */
.video-box {
  position: relative;
}